:root{

    --primary:#5B3FD6;
    --primary-dark:#4A2FB8;

    --background:#F5F7FB;

    --surface:#FFFFFF;

    --text:#242424;

    --text-light:#7A7A7A;

    --border:#E5E7EB;

    --success:#3BB273;

    --warning:#F5A524;

    --danger:#E5484D;

    --radius:18px;

}