:root{

--primary:#5B3FD6;
--primary-hover:#4C31C0;

--background:#F5F7FB;

--surface:#FFFFFF;

--text:#232323;

--gray:#707070;

--success:#23B26D;

--warning:#F59E0B;

--danger:#EF4444;

--radius:18px;

--shadow:0px 8px 30px rgba(0,0,0,.08);

}